<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eqdash</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container header">
      <div class="page-header">
        <h1>eqdash <small>live earthquakes dashboard</small></h1>
      </div>
    </div>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRiCcfbEtvvz2_jQ_lDcs0voDEVkG6_jA&callback=initMap"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
