body {
  color: #606c76;
}

h1, h3 {
  font-weight: 300;
}

#map {
  min-height: 400px;
  max-height: 600px;
  width: 100%;
  margin-bottom: 2rem;
}

.header {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.header h1 {
  font-size: 2.3rem;
}

.header h1 > small {
  font-size: 50%;
}

.info-window-content h6 {
  margin-bottom: 1rem;
}

.info-window-content ul li {
  margin: 0;
}
