body {
  margin-top: 1rem;
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 2rem;
}

.page-header h1 > small {
  font-size: 20px;
}

.stats h5 {
  margin-bottom: 1rem;
}

div.info-window-content h6 {
  margin-bottom: 1rem;
}

.info-window-content ul li {
  margin: 0;
}
